@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
body{
    margin: 0;
 /*   font-family: 'roboto';*/
}

.menu{
    background-color: maroon;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center
}

.menu a{
    text-decoration: none;
    color: white;
    font-size: 1.3;
}

.banner{
    height: 350px;
    width: 100%;
    background-image: url("picture/banner.jpg"); 
    background-size: cover;  
    position: absolute;
}

.content{
    position: relative;
    margin-left: 30px;
    margin-top: 20px;
    width: 400px;
    padding: 15px;
}

.content h1{
    color: rgb(65, 33, 1);
}

.content h3{
    color: maroon;
}

.boutton{
    width: 120px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    background-color: white;
    border-radius: 15px;
}

.boutton a{
    color: rgb(65 33 1);
    font-size: 1.2em;
}

.boutton:hover{
    background-color: rgb(116, 58, 0);
    color: white;
}

.content2{
    /*position: relative;*/
    height: 700px;
    width: 100%;
    background-color: rgb(250, 240, 226);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.hotel1{
    padding: 15px;
    width: 30%;
    height: 90%;
    display: flex;
   /* background-color: tan;
*/  background-image: url("picture/golden.jpg"); /*fixed no-repeat top left;*/
    background-size: cover;
    align-items: center
    /*position: absolute;*/
}

.hotel2{
    padding: 15px;
    width: 30%;
    height: 90%;
    background-image: url("picture/taihiti.jpg");
    background-size: cover;
    align-items: center
}

.hotel3{
    padding: 15px;
    width: 30%;
    height: 90%;
    background-image: url("picture/azalai.jpg");
    background-size: cover;
}